.LoginPage{
    height: 100vh;
    background-image: url('./grey\ bg-01.jpeg');
    background-size: cover;
}
.Div2{
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    color: #e2e0e0;
    padding-left: 5vw;
    padding-top: 2vh; 
}
.NavBtn{
    background-color: transparent;
    border: 0px solid transparent;
    color: #e2e0e0;
}
.Tagline{
    width: 36vw;
    margin: auto;
    font-size: 40px;
    color: #e2e0e0;
    margin-bottom: 2vh;
}
#box{
    width: 36vw;
    height: fit-content;
}
.Box{
    --angle: 0deg;
    position: relative;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    border: 3px solid transparent;
    border-image: linear-gradient(var(--angle),black, #452d4e,#272727,grey,#e2e0e0, #4a3d53, #452d4e,#272727,black )1;
    animation: rotate 7s ease-in infinite;
}
@keyframes rotate{
    to{
      --angle: 360deg;
    }
}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
.Pic{
    margin: 0vh 0vw;
    width: 45vw;
    opacity: 0.7;
}
.Input1{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}
.Input1:focus{
    outline: none;
}
.LoginBtn{
    background-color: #272727;
    opacity: 0.7;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.LoginBtn:hover{
    opacity: 0.9;
}
.ProfileBtn{
    border: none;
    background: transparent;
    font-size: large;
}
.Selected{
    font-weight: bold;
}
.Div1{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-top: 15vh;
}
.Section{
    background-image: linear-gradient(to bottom, var(--purple), #d607c5);   
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
@media only screen and (max-width: 1100px) and (min-width: 766px){
    .Div1{
        width: 80vw;
        display: block;
    }
    .Tagline{
        width: 70%;
        font-size: 2rem;
        margin-left: 20px;
    }
    .Box{
        margin: 20px;
    }
    #box{
        width: 70%;
    }
}
@media (max-width: 765px){
    .Tagline{
        font-size: 2em;
        width: 90%;
    }
    .Div1{
        width: 100vw;
        display: block;
    }
    .Box{
        margin: 20px;
    }
    #box{
        width: 80%;
    }
}