.PostsArea{
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
.Post {
  border: 1px solid #bebebe;
  padding: 1em 1.7em;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  height: fit-content;
}
.AllPosts{
  width: 75%;
}
.BlogArea{
  margin-left: 1.7em;
  position: sticky;
  top: 1em;
}
.Textarea {
  border: 1px solid #ccc;
  padding: 1px 6px;
  display: block;
  width: 100%;
  overflow: visible;
  min-height: 20vh;
  line-height: 20px;
  max-height: fit-content;
}
.PostPic {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.PostFile {
  border: 1px solid #bebebe;
  background-color: #5c5c5c;
  padding: 20px;
  color: #bebebe;
  text-align: center;
}
.Pics {
  height: 20vh;
  padding: 5px;
  max-width: 300px;
}
.Tech {
  margin: 3px;
  border-right: 1px solid #bebebe;
  padding-right: 3px;
}
.PostInput {
  width: 60%;
  margin-right: 10px;
}
.PostBtn {
  padding: 3px 15px;
  color: white;
  border: 1px solid #bebebe;
  border-radius: 5px;
}
.PostBtn:hover {
  background: #797878;
}
@media (max-width: 810px) {
  .Post {
    padding: 1em 0.6em;
    width: 100%;
  }
  .Pics {
    max-width: 250px;
  }
  .PostInput {
    width: 85%;
  }
  .PostBtn {
    margin-top: 5px;
  }
  .PostsArea{
    display: block;
    width: 92vw ;
  }
  .BlogArea{
    margin-left: 0;
    position: relative;
  }
}
