.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu {
    flex: 3;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}
.chatName{
    text-transform: capitalize;
    font-size: large;
    height: 45px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 8;
    /* background-color: rgb(245, 243, 243); */
}
.chatName:hover{
    text-decoration: underline;
    cursor: pointer;
}
.chatNameImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chatBox {
    flex: 6;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    padding-top: 0;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
}

@media screen and (max-width: 768px) {
    .chatMenu {
        flex: 1;
    }

    .chatMenuInput {
        display: none;
    }

    .chatBox{
        flex: 10;
    }

    .chatOnline{
        flex: 1px;
    }
}
